@model IEnumerable<Student>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    
    <ul>

        @foreach (var i in Model)
        {
            <li>@i.FirstName @i.LastName</li>

        }
    </ul>
</div>
